.navbarContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
}

.logoContainer {
  margin-left: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.hamburgerContainer {
  font-size: 2rem;
  margin-top: 1.25rem;
  margin-right: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .navbarContainer {
    height: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    font-size: 2rem;
    font-weight: 100;
  }
  .nav a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    position: relative;
  }

  .nav a:hover {
    color: black;
  }

  .logoContainer {
    left: 100px;
    top: 60px;
    position: absolute;
  }

  .nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .nav a:hover::before {
    transform: scaleX(1);
  }

  .contactButton {
    font-size: 24px;
    padding: 6px 24px;
    height: 64px;
    position: absolute;
    right: 100px;
    top: 100px;
  }

  .contactButton:hover {
    color: black;
    border-color: black;
  }

  .contactButton:focus {
    color: black;
    border-color: black;
  }
}
